@use "./colors" as color;
@use './placeholders';
@use "./button";

.hero {
  padding-inline: clamp(1rem, -0.3717rem + 5.8524vw, 2.4375rem);
  padding-block-start: 32px;
  background-image: url("../images/mobile-bg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  min-height: 481px;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    padding-inline: 2.5rem;
    padding-block-start: clamp(2rem, 0.1429rem + 3.869vw, 3.625rem);
    min-height: 540px;
  }

  @media screen and (min-width: 1024px) {
    min-height: 730px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__heading {
    @extend %heading-L;
    color: color.$white;
    text-align: center;
    letter-spacing: -0.2rem;
    max-inline-size: 343px;
    margin-inline: auto;

    @media screen and (min-width: 768px) {
      max-inline-size: 400px;
    }

    @media screen and (min-width: 1024px) {
      max-inline-size: 500px;
    }

    &--underline {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: color.$eucaplyptus;
    }
  }

  &__btn--primary {
    @extend .btn--primary;
  }

  &__illustration--left {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-80%);

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1024px) {
      transform: translateX(-50%);
    }
  }

  &__illustration--right {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(80%, 50%);

    @media screen and (min-width: 768px) {
      display: block;
    }

      @media screen and (min-width: 1024px) {
      transform: translate(50%, 50%);
    }
  }
}
