@use "./fonts" as fonts;

/* Heading L */
%heading-L {
  font-family: fonts.$primary-ff;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;

  @media screen and (min-width: 768px) {
    font-size: 60px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 80px;
  }
}

/* Heading M */
%heading-M {
  font-family: fonts.$primary-ff;
  font-size: clamp(2rem, 1.4718rem + 2.2535vw, 3.5rem); // 32px - 56px
  font-weight: 600;
  line-height: 1.14;
}

/* Heading S */
%heading-S {
  font-family: fonts.$primary-ff;
  font-size: clamp(1.75rem, 1.4643rem + 0.5952vw, 2rem); // 28px - 32px
  font-weight: 600;
  line-height: 1.25;
}

/* Body */
%paragraph {
  font-family: fonts.$secondary-ff;
  font-size: clamp(1rem, 0.8571rem + 0.2976vw, 1.125rem);
  font-weight: 400;
  line-height: 1.77;
}
